extends layout

block content
  ul
  each build in builds
    li.failed(class=build.assignee ? 'assigned' : '')
      header
        h2 #{build.projectName}
        if build.assignee
          span.assignee #{build.assignee.name}
      p #{build.name}
