doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Titillium+Web')
  body
    section#content
      h5 #{server} | Project prefix: #{projectPrefix} | Updated: #{updated}
      block content
