html,
body {
  background-color: black;
  font-family: 'Titillium Web', sans-serif;
  color: lightgray;
}

#content {
  padding: 0.3em;
}

a {
  color: #00B7FF;
}

p {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: inherit;
  margin: 0 0 0.3em;
  padding: 0;
}

h5 {
  font-size: 3vh;
  margin: 0 0 0.3em;
  padding: 0;
  text-align: right;
}

ul {
  margin: 0;
  padding: 0;
}

li.failed {
  border: 2px solid;
  border-radius: 5px;
  color: white;
  list-style: none;
  margin-bottom: 0.3em;
  padding: 0.3em;
  position: relative;
  font-size: 4vh;
  line-height: 1em;
  box-shadow: 0 0 12px red;
}

li.failed {
  border-color: red;
  background-color: rgba(220, 0, 0, 0.9);
  box-shadow: 0 0 12px red;
}

li.assigned {
  border-color: orangered;
  background-color: rgba(255, 69, 0, 0.9);
  box-shadow: 0 0 12px orangered;
}

li span.assignee {
  font-style: italic;
  position: absolute;
  top: 0.3em;
  right: 0.3em;
}

#cat {
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin-right: -50vw;
  transform: translate(-50%, -50%);
}
