html,
body {
    height: 100%;
}
body {
    font-family: 'Titillium Web', sans-serif;
    background: black;
    color: gray;
    padding: 0.3em;
    /*background-image: url('../images/7-square-logo.png');*/
    background-position: center;
    background-repeat: no-repeat;
}

a {
  color: #00B7FF;
}

h1 {
    font-size: 14px;
    margin: 0 0 0.3em;
    padding: 0;
    text-align: right;
}

ul {
    margin: 0;
    padding: 0;
    color: black;
}

li.failed {
    border: 1px solid darkred;
    background-color: rgba(255, 0, 0, 1);;
    color: white;
    list-style: none;
    margin-bottom: 0.3em;
    padding: 0.3em;
    position: relative;
    font-size: 2.7em;
    line-height: 1em;
}

li img {
    position: absolute;
    top: 0.3em;
    right: 0.3em;
}

pre {
    z-index: -1;
    position: absolute;
    top: 6em;
    left: 0;
    right: 0;
    margin: auto;
    font-weight: bold;
    text-align: center;
}